<a href="https://colab.research.google.com/github/19PA1A0547/07-03-2001/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn import metrics

In [11]:
students=pd.read_csv("students_placement_data.csv")
students.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [0]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
model.intercept_

-8.937571546426739

In [16]:
model.coef_

array([0.13815068, 0.74767901])

In [0]:
x=students[['SSC Percentage','inter_Diploma_percentage']].values
y=students['B.Tech_percentage'].values

In [0]:
predicted_B.Tech_percentage=model.predict(X_test)
predicted_(B.Tech_percentage).shape